[Unit]
Description=SigPi SoapySDRServer

Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/bin/sh -c "SoapySDRServer"
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target