[Unit]
Description=OpenWebRX

Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/bin/sh -c "openwebrx.py"
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target