[Unit]
Description=SigPi Node (RTL_TCP)

Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/bin/sh -c "rtl_tcp -a $(hostname -I)"
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target