[Desktop Entry]
Version=1.0
Name=SIGpi Home
Comment=Go to SIGpi Github Home
Exec=chromium-browser %U https://github.com/joecupano/SIGbox
Icon=/usr/share/icons/sigpi_icon_32x32.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=SigPi;
StartupNotify=false