[Desktop Entry]
Name=SIGpi Home
Comment=Go to SIGpi Github Home
Exec=xdg-open https://github.com/joecupano/SIGbox
Icon=/usr/share/icons/sigpi_icon_32x32.png
Terminal=false
Type=Application
Categories=SigPi;