[Desktop Entry]
Name=Artemis
Type=Application
StartupWMClass=artemis3
Exec=$HOME/source/artemis/Artemis
Terminal=false
Icon=/usr/share/icons/artemis3.svg
Categories=SigPi; 
