[Desktop Entry]
Name=Artemis
Type=Application
StartupWMClass=artemis3
Exec=/home/pi/SIG/artemis/Artemis
Terminal=false
Icon=/usr/share/icons/artemis3.svg
Categories=SigPi; 
