[Desktop Entry]
Version=1.0
Name=CygnusRFI
Comment=CygnusRFI
Exec=SIGpi_exec-in-shell "cd ~/SIG/source/CygnusRFI"
Icon=/usr/share/icons/cygnusrfi.png
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=SigPi;
StartupNotify=true