[Desktop Entry]
Name=Dire Wolf
Comment=APRS Soundcard TNC
Exec=/usr/bin/lxterminal -e direwolf
Icon=/usr/share/icons/direwolf_icon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=HamRadio;
