[Desktop Entry]
Name=DOSbox
GenericName=MS-DOS emulator
Exec=dosbox -conf ~/SIG/etc/sigpi_dosbox.conf
Terminal=false
Categories=Emulator;
Icon=dosbox
Comment=MS-DOS emulator
Type=Application