[Desktop Entry]
Name=Dump 1090
Encoding=UTF-8
Comment=Dump1090 is a Mode S decoder specifically designed for RTL-SDR and HackRF One devices
Exec=/usr/bin/lxterminal -e /usr/local/bin/dump1090 -h
Icon=/usr/share/SIGpi/icons/sigpi_icon_menu.png
StartupNotify=false
Terminal=true
X-KeepTerminal=True
Type=Application
Categories=SigPi;
