[Desktop Entry]
Name=LinPac
GenericName=LinPac
Comment=LinPac is a packet radio terminal for use with the AX.25 packet radio environment. It comes with a mail client.
Exec=/usr/bin/linpac
Icon=/usr/share/icons/linpac.png
StartupNotify=true
Terminal=true
Type=Application
Categories=HamRadio;
X-KeepTerminal=true