[Desktop Entry]
Name=RTL_ADSB
Encoding=UTF-8
Comment=A simple ADS-decoder
Exec=SIGpi_exec-in-shell "rtl_adsb -h"
Icon=/usr/share/SIGpi/icons/sigpi_icon_menu.png
StartupNotify=false
Terminal=true
X-KeepTerminal=True
Type=Application
Categories=SigPi;
