[Desktop Entry]
Name=rtl_test
Encoding=UTF-8
Comment=Benchmark tool for RTL2832 based DVB-T receivers
Exec=SIGpi_exec-in-shell "rtl_test -h"
Icon=sigpi_icon_menu.png
StartupNotify=false
Terminal=true
X-KeepTerminal=True
Type=Application
Categories=SigPi;
