[Desktop Entry]
Name=SDRangel
GenericName=SDR/Analyzer frontend
Comment=SDR Angel
Exec=run_sdrangel.sh
Icon=/usr/share/icons/sdrangel.png
StartupNotify=true
Terminal=true
Type=Application
Categories=SigPi;
X-KeepTerminal=true