[Desktop Entry]
Name=SIGpi Home
Comment=Go to SIGpi Github Home
Exec=xdg-open https://github.com/joecupano/SIGpi
Icon=/usr/share/icons/sigpi_icon_menu.png
Terminal=false
Type=Application
Categories=SIGpi;